.old-price{
  color:red;
}
.product {
     position: relative;
     /* width: 75%; */

     /* border: 2px solid #BF55EC; */

     border: 2px solid #e1e1e1;
     border-radius: 8px;

 }
 .itemproduct{
    padding: 0.9em 0.9em 0.9em 0.9em;
 }

 .image {
   opacity: 1;
   display: block;
   width: 100%;
   height: 9em;
   transition: .5s ease;
   backface-visibility: hidden;
 }


 .middle {
   transition: .5s ease;
   opacity: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   text-align: center;
 }

 .product:hover .image {
   opacity: 0.3;
 }

 .product:hover .middle {
   opacity: 1;
 }

 .textonhome {
   background-color:  #4fbfa8;
      /* background-color:   #e1e1e1; */
   color: white;
   font-size: 16px;
   padding: 16px 32px;
   border: 2px solid #e1e1e1;
   border-radius: 8px;
 }


 div.clear {
     clear: both;
 }

 hr{
   color: #e9e9e9
 }
 header{

      background-color:white;
 }

 /* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    background-color: #e9e9e9;
       padding: 0.2em 0.2em 0.2em 0.2em;
          opacity: 0.9;
}

.owl-theme .owl-dots .owl-dot {
  display: none;
}


 div.ex2 {

    /* width: 220px; */

    overflow: hidden;
}

.price{
  font-weight: 700;
  line-height: 1;
  font-size: 20px;
}

.selected {
  border: 1px solid #41b39c;
}


*:hover{  text-decoration: none !important}