/*--------------------------- Color variations ----------------------*/
/* Medium Layout: 1280px */
/* Tablet Layout: 768px */
/* Mobile Layout: 320px */
/* Wide Mobile Layout: 480px */
/* =================================== */
/*  Basic Style
/* =================================== */
::-moz-selection {
  /* Code for Firefox */
  background-color: #61c524;
  color: #fff; }

::selection {
  background-color: #61c524;
  color: #fff; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #777777;
  font-weight: 300; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #777777;
  opacity: 1;
  font-weight: 300; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #777777;
  opacity: 1;
  font-weight: 300; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #777777;
  font-weight: 300; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #777777;
  font-weight: 300; }

body {
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625em;
  position: relative; }
  body.blog {
    background: #f9f9ff; }

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none; }

select {
  display: block; }

figure {
  margin: 0; }

a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

iframe {
  border: 0; }

a, a:focus, a:hover {
  text-decoration: none;
  outline: 0; }

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  text-decoration: none;
  outline: 0; }

.card-panel {
  margin: 0;
  padding: 60px; }

/**
 *  Typography
 *
 **/
.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
  font-size: 1em;
  line-height: inherit; }

.gray-bg {
  background: #f9f9ff; }

h1, h2, h3,
h4, h5, h6 {
  font-family: "Playfair Display", sans-serif;
  color: #000000;
  line-height: 1.2em;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600; }

.h1, .h2, .h3,
.h4, .h5, .h6 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Playfair Display", sans-serif;
  font-weight: 600;
  color: #000000; }

h1, .h1 {
  font-size: 36px; }

h2, .h2 {
  font-size: 30px; }

h3, .h3 {
  font-size: 24px; }

h4, .h4 {
  font-size: 18px; }

h5, .h5 {
  font-size: 16px; }

h6, .h6 {
  font-size: 14px;
  color: #000000; }

td, th {
  border-radius: 0px; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clear::before, .clear::after {
  content: " ";
  display: table; }
.clear::after {
  clear: both; }

.fz-11 {
  font-size: 11px; }

.fz-12 {
  font-size: 12px; }

.fz-13 {
  font-size: 13px; }

.fz-14 {
  font-size: 14px; }

.fz-15 {
  font-size: 15px; }

.fz-16 {
  font-size: 16px; }

.fz-18 {
  font-size: 18px; }

.fz-30 {
  font-size: 30px; }

.fz-48 {
  font-size: 48px !important; }

.fw100 {
  font-weight: 100; }

.fw300 {
  font-weight: 300; }

.fw400 {
  font-weight: 400 !important; }

.fw500 {
  font-weight: 500; }

.f700 {
  font-weight: 700; }

.fsi {
  font-style: italic; }

.mt-10 {
  margin-top: 10px; }

.mt-15 {
  margin-top: 15px; }

.mt-20 {
  margin-top: 20px; }

.mt-25 {
  margin-top: 25px; }

.mt-30 {
  margin-top: 30px; }

.mt-35 {
  margin-top: 35px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mt-70 {
  margin-top: 70px; }

.mt-80 {
  margin-top: 80px; }

.mt-100 {
  margin-top: 100px; }

.mt-120 {
  margin-top: 120px; }

.mt-150 {
  margin-top: 150px; }

.ml-0 {
  margin-left: 0 !important; }

.ml-5 {
  margin-left: 5px !important; }

.ml-10 {
  margin-left: 10px; }

.ml-15 {
  margin-left: 15px; }

.ml-20 {
  margin-left: 20px; }

.ml-30 {
  margin-left: 30px; }

.ml-50 {
  margin-left: 50px; }

.mr-0 {
  margin-right: 0 !important; }

.mr-5 {
  margin-right: 5px !important; }

.mr-15 {
  margin-right: 15px; }

.mr-10 {
  margin-right: 10px; }

.mr-20 {
  margin-right: 20px; }

.mr-30 {
  margin-right: 30px; }

.mr-50 {
  margin-right: 50px; }

.mb-0 {
  margin-bottom: 0px; }

.mb-0-i {
  margin-bottom: 0px !important; }

.mb-5 {
  margin-bottom: 5px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-25 {
  margin-bottom: 25px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.mb-80 {
  margin-bottom: 80px; }

.mb-90 {
  margin-bottom: 90px; }

.mb-100 {
  margin-bottom: 100px; }

.pt-0 {
  padding-top: 0px; }

.pt-10 {
  padding-top: 10px; }

.pt-15 {
  padding-top: 15px; }

.pt-20 {
  padding-top: 20px; }

.pt-25 {
  padding-top: 25px; }

.pt-30 {
  padding-top: 30px; }

.pt-40 {
  padding-top: 40px; }

.pt-50 {
  padding-top: 50px; }

.pt-60 {
  padding-top: 60px; }

.pt-70 {
  padding-top: 70px; }

.pt-80 {
  padding-top: 80px; }

.pt-90 {
  padding-top: 90px; }

.pt-100 {
  padding-top: 100px; }

.pt-120 {
  padding-top: 120px; }

.pt-150 {
  padding-top: 150px; }

.pt-170 {
  padding-top: 170px; }

.pb-0 {
  padding-bottom: 0px; }

.pb-10 {
  padding-bottom: 10px; }

.pb-15 {
  padding-bottom: 15px; }

.pb-20 {
  padding-bottom: 20px; }

.pb-25 {
  padding-bottom: 25px; }

.pb-30 {
  padding-bottom: 30px; }

.pb-40 {
  padding-bottom: 40px; }

.pb-50 {
  padding-bottom: 50px; }

.pb-60 {
  padding-bottom: 60px; }

.pb-70 {
  padding-bottom: 70px; }

.pb-80 {
  padding-bottom: 80px; }

.pb-90 {
  padding-bottom: 90px; }

.pb-100 {
  padding-bottom: 100px; }

.pb-120 {
  padding-bottom: 120px; }

.pb-150 {
  padding-bottom: 150px; }

.pr-30 {
  padding-right: 30px; }

.pl-30 {
  padding-left: 30px; }

.pl-90 {
  padding-left: 90px; }

.p-40 {
  padding: 40px; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.text-italic {
  font-style: italic; }

.text-white {
  color: #fff; }

.text-black {
  color: #000; }

.transition {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.section-full {
  padding: 100px 0; }

.section-half {
  padding: 75px 0; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-rigth {
  text-align: right; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.flex-grow {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start; }

.flex-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.flex-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end; }

.flex-top {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }

.flex-bottom {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end; }

.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

.space-around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around; }

.flex-column {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.flex-cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.display-table {
  display: table; }

.light {
  color: #fff; }

.dark {
  color: #000000; }

.relative {
  position: relative; }

.overflow-hidden {
  overflow: hidden; }

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.container.fullwidth {
  width: 100%; }
.container.no-padding {
  padding-left: 0;
  padding-right: 0; }

.no-padding {
  padding: 0; }

.section-bg {
  background: #f9fafc; }

@media (max-width: 767px) {
  .no-flex-xs {
    display: block !important; } }

.row.no-margin {
  margin-left: 0;
  margin-right: 0; }

.section-gap {
  padding: 150px 0; }
  @media (max-width: 991px) {
    .section-gap {
      padding: 60px 0; } }

.section-gap-top {
  padding-top: 150px; }
  @media (max-width: 991px) {
    .section-gap-top {
      padding-top: 60px; } }

.section-gap-bottom {
  padding-bottom: 150px; }
  @media (max-width: 991px) {
    .section-gap-bottom {
      padding-bottom: 60px; } }

.section-title {
  padding-bottom: 95px;
  text-align: center; }
  @media (max-width: 991px) {
    .section-title {
      padding-bottom: 40px; } }
  .section-title h2 {
    font-size: 36px;
    margin-bottom: 20px; }
  .section-title p {
    font-size: 16px;
    margin-bottom: 0; }
    @media (max-width: 991.98px) {
      .section-title p br {
        display: none; } }

.primary-btn {
  background-color: #61c524;
  line-height: 47px;
  /* padding: 0 35px; */
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-transform: capitalize;
  position: relative; }
  .primary-btn:focus {
    outline: none; }
  .primary-btn span {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    right: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .primary-btn:hover {
    color: #61c524;
    background-color: transparent;
    border-color: #61c524; }
  .primary-btn.white {
    border: 1px solid #fff;
    color: #000000;
    background: #fff; }
    .primary-btn.white span {
      color: #fff; }
    .primary-btn.white:hover {
      background: #61c524;
      color: #fff;
      border: 1px solid #61c524; }
      .primary-btn.white:hover span {
        color: #61c524; }
  .primary-btn.offwhite {
    background: #f9f9ff;
    color: #000000; }

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.sample-text-area {
  background: #fff;
  padding: 100px 0 70px 0; }

.text-heading {
  margin-bottom: 30px;
  font-size: 24px; }

b, sup, sub, u, del {
  color: #61c524; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em; }

.typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
  color: #777777; }

.button-area {
  background: #fff; }
  .button-area .border-top-generic {
    padding: 70px 15px;
    border-top: 1px dotted #eee; }

.button-group-area .genric-btn {
  margin-right: 10px;
  margin-top: 10px; }
  .button-group-area .genric-btn:last-child {
    margin-right: 0; }

.genric-btn {
  display: inline-block;
  outline: none;
  line-height: 40px;
  padding: 0 30px;
  font-size: .8em;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .genric-btn:focus {
    outline: none; }
  .genric-btn.e-large {
    padding: 0 40px;
    line-height: 50px; }
  .genric-btn.large {
    line-height: 45px; }
  .genric-btn.medium {
    line-height: 30px; }
  .genric-btn.small {
    line-height: 25px; }
  .genric-btn.radius {
    border-radius: 3px; }
  .genric-btn.circle {
    border-radius: 20px; }
  .genric-btn.arrow {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .genric-btn.arrow span {
      margin-left: 10px; }
  .genric-btn.default {
    color: #000000;
    background: #f9f9ff;
    border: 1px solid transparent; }
    .genric-btn.default:hover {
      border: 1px solid #f9f9ff;
      background: #fff; }
  .genric-btn.default-border {
    border: 1px solid #f9f9ff;
    background: #fff; }
    .genric-btn.default-border:hover {
      color: #000000;
      background: #f9f9ff;
      border: 1px solid transparent; }
  .genric-btn.primary {
    color: #fff;
    background: #61c524;
    border: 1px solid transparent; }
    .genric-btn.primary:hover {
      color: #61c524;
      border: 1px solid #61c524;
      background: #fff; }
  .genric-btn.primary-border {
    color: #61c524;
    border: 1px solid #61c524;
    background: #fff; }
    .genric-btn.primary-border:hover {
      color: #fff;
      background: #61c524;
      border: 1px solid transparent; }
  .genric-btn.success {
    color: #fff;
    background: #4cd3e3;
    border: 1px solid transparent; }
    .genric-btn.success:hover {
      color: #4cd3e3;
      border: 1px solid #4cd3e3;
      background: #fff; }
  .genric-btn.success-border {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background: #fff; }
    .genric-btn.success-border:hover {
      color: #fff;
      background: #4cd3e3;
      border: 1px solid transparent; }
  .genric-btn.info {
    color: #fff;
    background: #38a4ff;
    border: 1px solid transparent; }
    .genric-btn.info:hover {
      color: #38a4ff;
      border: 1px solid #38a4ff;
      background: #fff; }
  .genric-btn.info-border {
    color: #38a4ff;
    border: 1px solid #38a4ff;
    background: #fff; }
    .genric-btn.info-border:hover {
      color: #fff;
      background: #38a4ff;
      border: 1px solid transparent; }
  .genric-btn.warning {
    color: #fff;
    background: #f4e700;
    border: 1px solid transparent; }
    .genric-btn.warning:hover {
      color: #f4e700;
      border: 1px solid #f4e700;
      background: #fff; }
  .genric-btn.warning-border {
    color: #f4e700;
    border: 1px solid #f4e700;
    background: #fff; }
    .genric-btn.warning-border:hover {
      color: #fff;
      background: #f4e700;
      border: 1px solid transparent; }
  .genric-btn.danger {
    color: #fff;
    background: #f44a40;
    border: 1px solid transparent; }
    .genric-btn.danger:hover {
      color: #f44a40;
      border: 1px solid #f44a40;
      background: #fff; }
  .genric-btn.danger-border {
    color: #f44a40;
    border: 1px solid #f44a40;
    background: #fff; }
    .genric-btn.danger-border:hover {
      color: #fff;
      background: #f44a40;
      border: 1px solid transparent; }
  .genric-btn.link {
    color: #000000;
    background: #f9f9ff;
    text-decoration: underline;
    border: 1px solid transparent; }
    .genric-btn.link:hover {
      color: #000000;
      border: 1px solid #f9f9ff;
      background: #fff; }
  .genric-btn.link-border {
    color: #000000;
    border: 1px solid #f9f9ff;
    background: #fff;
    text-decoration: underline; }
    .genric-btn.link-border:hover {
      color: #000000;
      background: #f9f9ff;
      border: 1px solid transparent; }
  .genric-btn.disable {
    color: #222222, 0.3;
    background: #f9f9ff;
    border: 1px solid transparent;
    cursor: not-allowed; }

.generic-blockquote {
  padding: 30px 50px 30px 30px;
  background: #f9f9ff;
  border-left: 2px solid #61c524; }

.progress-table-wrap {
  overflow-x: scroll; }

.progress-table {
  background: #f9f9ff;
  padding: 15px 0px 30px 0px;
  min-width: 800px; }
  .progress-table .serial {
    width: 11.83%;
    padding-left: 30px; }
  .progress-table .country {
    width: 28.07%; }
  .progress-table .visit {
    width: 19.74%; }
  .progress-table .percentage {
    width: 40.36%;
    padding-right: 50px; }
  .progress-table .table-head {
    display: flex; }
    .progress-table .table-head .serial, .progress-table .table-head .country, .progress-table .table-head .visit, .progress-table .table-head .percentage {
      color: #000000;
      line-height: 40px;
      text-transform: uppercase;
      font-weight: 500; }
  .progress-table .table-row {
    padding: 15px 0;
    border-top: 1px solid #edf3fd;
    display: flex; }
    .progress-table .table-row .serial, .progress-table .table-row .country, .progress-table .table-row .visit, .progress-table .table-row .percentage {
      display: flex;
      align-items: center; }
    .progress-table .table-row .country img {
      margin-right: 15px; }
    .progress-table .table-row .percentage .progress {
      width: 80%;
      border-radius: 0px;
      background: transparent; }
      .progress-table .table-row .percentage .progress .progress-bar {
        height: 5px;
        line-height: 5px; }
        .progress-table .table-row .percentage .progress .progress-bar.color-1 {
          background-color: #6382e6; }
        .progress-table .table-row .percentage .progress .progress-bar.color-2 {
          background-color: #e66686; }
        .progress-table .table-row .percentage .progress .progress-bar.color-3 {
          background-color: #f09359; }
        .progress-table .table-row .percentage .progress .progress-bar.color-4 {
          background-color: #73fbaf; }
        .progress-table .table-row .percentage .progress .progress-bar.color-5 {
          background-color: #73fbaf; }
        .progress-table .table-row .percentage .progress .progress-bar.color-6 {
          background-color: #6382e6; }
        .progress-table .table-row .percentage .progress .progress-bar.color-7 {
          background-color: #a367e7; }
        .progress-table .table-row .percentage .progress .progress-bar.color-8 {
          background-color: #e66686; }

.single-gallery-image {
  margin-top: 30px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  height: 200px; }

.list-style {
  width: 14px;
  height: 14px; }

.unordered-list li {
  position: relative;
  padding-left: 30px;
  line-height: 1.82em !important; }
  .unordered-list li:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 3px solid #61c524;
    background: #fff;
    top: 4px;
    left: 0;
    border-radius: 50%; }

.ordered-list {
  margin-left: 30px; }
  .ordered-list li {
    list-style-type: decimal-leading-zero;
    color: #61c524;
    font-weight: 500;
    line-height: 1.82em !important; }
    .ordered-list li span {
      font-weight: 300;
      color: #777777; }

.ordered-list-alpha li {
  margin-left: 30px;
  list-style-type: lower-alpha;
  color: #61c524;
  font-weight: 500;
  line-height: 1.82em !important; }
  .ordered-list-alpha li span {
    font-weight: 300;
    color: #777777; }

.ordered-list-roman li {
  margin-left: 30px;
  list-style-type: lower-roman;
  color: #61c524;
  font-weight: 500;
  line-height: 1.82em !important; }
  .ordered-list-roman li span {
    font-weight: 300;
    color: #777777; }

.single-input {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px; }
  .single-input:focus {
    outline: none; }

.input-group-icon {
  position: relative; }
  .input-group-icon .icon {
    position: absolute;
    left: 20px;
    top: 0;
    line-height: 40px;
    z-index: 3; }
    .input-group-icon .icon i {
      color: #797979; }
  .input-group-icon .single-input {
    padding-left: 45px; }

.single-textarea {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
  height: 100px;
  resize: none; }
  .single-textarea:focus {
    outline: none; }

.single-input-primary {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px; }
  .single-input-primary:focus {
    outline: none;
    border: 1px solid #61c524; }

.single-input-accent {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px; }
  .single-input-accent:focus {
    outline: none;
    border: 1px solid #eb6b55; }

.single-input-secondary {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px; }
  .single-input-secondary:focus {
    outline: none;
    border: 1px solid #f09359; }

.default-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer; }
  .default-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer; }
    .default-switch input + label {
      position: absolute;
      top: 1px;
      left: 1px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #61c524;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
      cursor: pointer; }
    .default-switch input:checked + label {
      left: 19px; }

.primary-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer; }
  .primary-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .primary-switch input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%; }
      .primary-switch input + label:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        border-radius: 8.5px;
        cursor: pointer;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
      .primary-switch input + label:after {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #fff;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
        cursor: pointer; }
    .primary-switch input:checked + label:after {
      left: 19px; }
    .primary-switch input:checked + label:before {
      background: #61c524; }

.confirm-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer; }
  .confirm-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .confirm-switch input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%; }
      .confirm-switch input + label:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        border-radius: 8.5px;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        cursor: pointer; }
      .confirm-switch input + label:after {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #fff;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
        cursor: pointer; }
    .confirm-switch input:checked + label:after {
      left: 19px; }
    .confirm-switch input:checked + label:before {
      background: #4cd3e3; }

.primary-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer; }
  .primary-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .primary-checkbox input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      cursor: pointer;
      border: 1px solid #f1f1f1; }
    .primary-checkbox input:checked + label {
      background: url(../img/elements/primary-check.png) no-repeat center center/cover;
      border: none; }

.confirm-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer; }
  .confirm-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .confirm-checkbox input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      cursor: pointer;
      border: 1px solid #f1f1f1; }
    .confirm-checkbox input:checked + label {
      background: url(../img/elements/success-check.png) no-repeat center center/cover;
      border: none; }

.disabled-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer; }
  .disabled-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .disabled-checkbox input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      cursor: pointer;
      border: 1px solid #f1f1f1; }
    .disabled-checkbox input:disabled {
      cursor: not-allowed;
      z-index: 3; }
    .disabled-checkbox input:checked + label {
      background: url(../img/elements/disabled-check.png) no-repeat center center/cover;
      border: none; }

.primary-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer; }
  .primary-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .primary-radio input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      cursor: pointer;
      border: 1px solid #f1f1f1; }
    .primary-radio input:checked + label {
      background: url(../img/elements/primary-radio.png) no-repeat center center/cover;
      border: none; }

.confirm-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer; }
  .confirm-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .confirm-radio input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      cursor: pointer;
      border: 1px solid #f1f1f1; }
    .confirm-radio input:checked + label {
      background: url(../img/elements/success-radio.png) no-repeat center center/cover;
      border: none; }

.disabled-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer; }
  .disabled-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .disabled-radio input + label {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      cursor: pointer;
      border: 1px solid #f1f1f1; }
    .disabled-radio input:disabled {
      cursor: not-allowed;
      z-index: 3; }
    .disabled-radio input:checked + label {
      background: url(../img/elements/disabled-radio.png) no-repeat center center/cover;
      border: none; }

.default-select {
  height: 40px; }
  .default-select .nice-select {
    border: none;
    border-radius: 0px;
    height: 40px;
    background: #f9f9ff;
    padding-left: 20px;
    padding-right: 40px; }
    .default-select .nice-select .list {
      margin-top: 0;
      border: none;
      border-radius: 0px;
      box-shadow: none;
      width: 100%;
      padding: 10px 0 10px 0px; }
      .default-select .nice-select .list .option {
        font-weight: 300;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        line-height: 28px;
        min-height: 28px;
        font-size: 12px;
        padding-left: 20px; }
        .default-select .nice-select .list .option.selected {
          color: #61c524;
          background: transparent; }
        .default-select .nice-select .list .option:hover {
          color: #61c524;
          background: transparent; }
  .default-select .current {
    margin-right: 50px;
    font-weight: 300; }
  .default-select .nice-select::after {
    right: 20px; }

.form-select {
  height: 40px;
  width: 100%; }
  .form-select .nice-select {
    border: none;
    border-radius: 0px;
    height: 40px;
    background: #f9f9ff;
    padding-left: 45px;
    padding-right: 40px;
    width: 100%; }
    .form-select .nice-select .list {
      margin-top: 0;
      border: none;
      border-radius: 0px;
      box-shadow: none;
      width: 100%;
      padding: 10px 0 10px 0px; }
      .form-select .nice-select .list .option {
        font-weight: 300;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        line-height: 28px;
        min-height: 28px;
        font-size: 12px;
        padding-left: 45px; }
        .form-select .nice-select .list .option.selected {
          color: #61c524;
          background: transparent; }
        .form-select .nice-select .list .option:hover {
          color: #61c524;
          background: transparent; }
  .form-select .current {
    margin-right: 50px;
    font-weight: 300; }
  .form-select .nice-select::after {
    right: 20px; }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/



#mobile-nav-toggle i {
    color: #5cb85c !important;
    font-weight: 900;
    margin-top:3em;
    /* color: red; */
}
#header {
    background-color: #f9f9ff;
  /* padding: 0px 0px 14px 0; */
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997; }
  #header hr {
    border-color: rgba(255, 255, 255, 0.3);
    margin-top: 5px; }
  @media (max-width: 1024px) {
    #header {
      background: #222222; } }

#header.header-scrolled {
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.5s; }

@media (max-width: 673px) {
  #logo {
    margin-left: 20px; } }
.menu-has-children ul li a {
  padding: 4px 10px !important;
  text-transform: uppercase !important; }

#header #logo h1 {
  font-size: 34px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px; }

#header #logo h1 a,
#header #logo h1 a:hover {
  color: #fff;
  padding-left: 10px;
  border-left: 4px solid #61c524; }

#header #logo img {
  padding: 0;
  margin: 0; }

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 28px; }

  #header #logo img {
    max-height: 40px; } }
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99; }

.nav-menu li {
  position: relative;
  white-space: nowrap; }

.nav-menu > li {
  float: left; }

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block; }

.nav-menu ul ul {
  top: 0;
  left: 100%; }

.nav-menu ul li {
  min-width: 180px;
  text-align: left; }

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px; }

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal; }

.sf-arrows ul .sf-with-ul:after {
  content: "\f105"; }

/* Nav Meu Container */
#nav-menu-container {
  margin: 0; }

@media (max-width: 768px) {
  #nav-menu-container {
    display: none; } }
/* Nav Meu Styling */
.nav-menu a {
    text-decoration: none;
  padding: 6px 10px;
  text-decoration: none;
  display: inline-block;
  color: #5cb85c;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  outline: none; }

.nav-menu > li {
  margin-left: 10px; }

.nav-menu ul {
  margin: 14px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff; }

.menu-has-children ul li a {
  padding: 4px 10px !important;
  text-transform: uppercase !important; }

.nav-menu ul li {
  transition: 0.3s; }

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 12px;
  text-transform: none; }

.nav-menu ul li:hover > a {
  color: #61c524; }

.nav-menu ul ul {
  margin: 0; }

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 15px;
  z-index: 999;
  top: 16px;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer; }

#mobile-nav-toggle i {
  color: #fff;
  font-weight: 900; }

@media (max-width: 960px) {
  #mobile-nav-toggle {
    display: inline; }

  #nav-menu-container {
    display: none; } }
/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s; }

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none; }

#mobile-nav ul li {
  position: relative; }

#mobile-nav ul li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 700; }

#mobile-nav ul li a:hover {
  color: #fff; }

#mobile-nav ul li li {
  padding-left: 30px; }

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff; }

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #61c524; }

#mobile-nav ul .menu-has-children li a {
  text-transform: none; }

#mobile-nav ul .menu-item-active {
  color: #61c524; }

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none; }

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden; }

body.mobile-nav-active #mobile-nav {
  left: 0; }

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff; }

.home-banner-area {
  background: #fff; }
  @media (max-width: 1024px) {
    .home-banner-area {
      margin-top: 66px; } }
  .home-banner-area.banner-area .about-content {
    padding: 150px 0px;
    text-align: center;
    background: transparent;
    width: 100%;
    left: 0; }
    .home-banner-area.banner-area .about-content .box {
      background: #46dbb7;
      padding: 10px 25px; }
    .home-banner-area.banner-area .about-content a {
      color: #fff;
      font-weight: 600;
      font-size: 14px; }
    .home-banner-area.banner-area .about-content .lnr {
      margin: 0px 10px;
      font-weight: 600;
      position: relative;
      top: 2px; }
  @media (max-width: 576px) {
    .home-banner-area .header-right {
      margin-top: 0px; } }

.home-banner-area .owl-nav,
.condition-area .owl-nav,
.event-area .owl-nav {
  right: 97.35%;
  position: absolute;
  bottom: -13px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }
  @media (max-width: 1024px) {
    .home-banner-area .owl-nav,
    .condition-area .owl-nav,
    .event-area .owl-nav {
      display: none; } }
  .home-banner-area .owl-nav .owl-prev,
  .condition-area .owl-nav .owl-prev,
  .event-area .owl-nav .owl-prev {
    margin-bottom: 34px; }
  .home-banner-area .owl-nav .lnr-arrow-up,
  .home-banner-area .owl-nav .lnr-arrow-down,
  .condition-area .owl-nav .lnr-arrow-up,
  .condition-area .owl-nav .lnr-arrow-down,
  .event-area .owl-nav .lnr-arrow-up,
  .event-area .owl-nav .lnr-arrow-down {
    padding: 22px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #fff;
    color: #000000; }
    .home-banner-area .owl-nav .lnr-arrow-up:hover,
    .home-banner-area .owl-nav .lnr-arrow-down:hover,
    .condition-area .owl-nav .lnr-arrow-up:hover,
    .condition-area .owl-nav .lnr-arrow-down:hover,
    .event-area .owl-nav .lnr-arrow-up:hover,
    .event-area .owl-nav .lnr-arrow-down:hover {
      background: #61c524;
      color: #ffffff; }
  .home-banner-area .owl-nav .lnr-arrow-down,
  .condition-area .owl-nav .lnr-arrow-down,
  .event-area .owl-nav .lnr-arrow-down {
    box-shadow: 0px 10px 30px 0 rgba(153, 153, 153, 0.2);
    color: #46dbb7; }

@media (max-width: 767px) {
  .fullscreen {
    height: 100% !important; } }
.header-right {
  position: relative;
  padding-right: 0px; }
  @media (max-width: 576px) {
    .header-right {
      margin-top: 30px;
      padding-right: 15px; } }
  .header-right img {
    height: 100%; }
  .header-right .form-wrap {
    width: 54%;
    background: rgba(255, 255, 255, 0.3);
    padding: 40px ;
    position: absolute;
    top: 50%;
    left: 100px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2; }
    @media (max-width: 1440px) {
      .header-right .form-wrap {
        width: 74%; } }
    @media (max-width: 1170px) {
      .header-right .form-wrap {
        left: 5%;
        width: 93%; } }
    @media (max-width: 991px) {
      .header-right .form-wrap .primary-btn {
        padding: 0 12px;
        font-size: 13px; } }
    @media (max-width: 767px) {
      .header-right .form-wrap .primary-btn {
        margin-top: 10px; } }
  .header-right .form-control {
    font-size: 14px;
    padding: 0.575rem 0.75rem; }

.donation-input .form-group {
  position: relative;
  margin-bottom: 0; }
  .donation-input .form-group ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #000000;
    font-size: 18px;
    font-weight: 500; }
  .donation-input .form-group :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #000000;
    opacity: 1;
    font-size: 18px;
    font-weight: 500; }
  .donation-input .form-group ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #000000;
    opacity: 1;
    font-size: 18px;
    font-weight: 500; }
  .donation-input .form-group :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000000;
    font-size: 18px;
    font-weight: 500; }
  .donation-input .form-group ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000000;
    font-size: 18px;
    font-weight: 500; }
  .donation-input .form-group ::placeholder {
    /* Most modern browsers support this now. */
    color: #000000;
    font-size: 18px;
    font-weight: 500; }
  .donation-input .form-group .form-control {
    height: 50px;
    line-height: 50px;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    /* padding-right: 70px; */
    border-radius: 0px;
    border: 1px solid transparent; }
    .donation-input .form-group .form-control:focus {
      box-shadow: none;
      outline: none;
      border: 1px solid #61c524; }
  .donation-input .form-group span {
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    top: 13px;
    right: 20px; }

.header-left {
  /* padding-left: 21%; */
  padding-right: 48px; }
  @media (max-width: 1440px) {
    .header-left {
      padding-left: 11%; } }
  @media (max-width: 1300px) {
    .header-left {
      padding-left: 5%; } }
  @media (max-width: 767px) {
    .header-left {
      margin-bottom: 10px; } }
  .header-left h1 {
    font-size: 60px;
    line-height: 1; }
    @media (max-width: 991px) {
      .header-left h1 {
        font-size: 35px; } }
  .header-left .vdo-section img {
    cursor: pointer; }
  .header-left .vdo-section span {
    padding-left: 20px;
    font-size: 14px;
    font-weight: 500; }
    .header-left .vdo-section span a {
      color: #000000; }

.nice-select::after {
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  content: '';
  display: block;
  height: 8px;
  margin-top: -6px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 8px; }

.single-cause {
  border: solid 1px #eeeeee;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .single-cause .top {
    padding: 30px; }
    @media (max-width: 576px) {
      .single-cause .top {
        padding: 15px; } }
  .single-cause .thumb {
    overflow: hidden;
    margin-bottom: 30px; }
    .single-cause .thumb img {
      width: 100%; }
  .single-cause h3 {
    font-size: 21px;
    line-height: 1.43;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .single-cause .text {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 0; }
  .single-cause .middle {
    padding: 30px;
    background: #f9f9ff;
    margin-top: 30px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee; }
    @media (max-width: 576px) {
      .single-cause .middle {
        padding: 15px; } }
    .single-cause .middle h5 {
      margin-bottom: 10px; }
    .single-cause .middle p {
      font-size: 12px;
      line-height: 12px;
      margin-bottom: 0; }
    .single-cause .middle .skill_main .skill_item {
      margin-bottom: 17px; }
      .single-cause .middle .skill_main .skill_item .progress {
        height: 10px;
        background: #fff;
        border-radius: 0; }
        .single-cause .middle .skill_main .skill_item .progress .progress-bar {
          width: 0%;
          -webkit-transition: width 0.6s ease;
          -moz-transition: width 0.6s ease;
          -o-transition: width 0.6s ease;
          transition: width 0.6s ease;
          height: 10px;
          vertical-align: middle;
          align-self: center; }
          .single-cause .middle .skill_main .skill_item .progress .progress-bar.progress-bar1 {
            background: #f9a22b; }
          .single-cause .middle .skill_main .skill_item .progress .progress-bar.progress-bar2 {
            background: #61c524; }
          .single-cause .middle .skill_main .skill_item .progress .progress-bar.progress-bar3 {
            background: #a978e0; }
  .single-cause .bottom {
    padding: 30px; }
    @media (max-width: 576px) {
      .single-cause .bottom {
        padding: 15px; } }
    .single-cause .bottom .primary-btn {
      font-size: 13px;
      padding: 0 30px; }
      @media (max-width: 576px) {
        .single-cause .bottom .primary-btn {
          padding: 0 20px; } }
      .single-cause .bottom .primary-btn.primary-btn1 {
        background: #f9a22b; }
        .single-cause .bottom .primary-btn.primary-btn1:hover {
          background: transparent;
          color: #000000; }
      .single-cause .bottom .primary-btn.primary-btn3 {
        background: #a978e0; }
        .single-cause .bottom .primary-btn.primary-btn3:hover {
          background: transparent;
          color: #000000; }
  @media (max-width: 991px) {
    .single-cause {
      margin-bottom: 30px; } }
  .single-cause .c-img {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .single-cause:hover {
    cursor: pointer;
    box-shadow: 0px 20px 50px 0 rgba(153, 153, 153, 0.2);
    border: 1px solid transparent; }
    .single-cause:hover h3 {
      color: #61c524; }
    .single-cause:hover .c-img {
      cursor: pointer;
      -webkit-transform: scale(1.25) rotate(-10deg);
      -moz-transform: scale(1.25) rotate(-10deg);
      -ms-transform: scale(1.25) rotate(-10deg);
      -o-transform: scale(1.25) rotate(-10deg);
      transform: scale(1.25) rotate(-10deg); }

.collection-area {
  background: #f9f9ff; }
  @media (max-width: 767px) {
    .collection-area .text {
      margin-bottom: 30px; } }
  .collection-area .text h2 {
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 35px; }
    @media (max-width: 576px) {
      .collection-area .text h2 {
        font-size: 30px;
        line-height: 1.15;
        margin-bottom: 15px; } }
    @media (max-width: 991.98px) {
      .collection-area .text h2 br {
        display: none; } }
    .collection-area .text h2 p {
      margin-bottom: 0; }

.collection-box {
  background: #fff;
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid transparent;
  text-align: center;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .collection-box h3 {
    margin-top: 5px;
    margin-bottom: 35px;
    font-size: 36px;
    line-height: 38px; }
    .collection-box h3.color1 {
      color: #f9a22b; }
    .collection-box h3.color3 {
      color: #61c524; }
    .collection-box h3.color4 {
      color: #a978e0; }
  .collection-box i {
    display: block;
    font-size: 24px;
    margin-bottom: 30px; }
  .collection-box p {
    margin-bottom: 0; }
  .collection-box:hover {
    cursor: pointer;
    border: 1px solid #46dbb7;
    margin-top: -30px; }

.condition-area .owl-carousel .owl-nav {
  right: -28px; }
  .condition-area .owl-carousel .owl-nav .lnr-arrow-down {
    box-shadow: none;
    color: #000000; }
    .condition-area .owl-carousel .owl-nav .lnr-arrow-down:hover {
      color: #fff; }
  .condition-area .owl-carousel .owl-nav .lnr-arrow-up {
    box-shadow: 0px 10px 30px 0 rgba(153, 153, 153, 0.2);
    color: #46dbb7; }
    .condition-area .owl-carousel .owl-nav .lnr-arrow-up:hover {
      color: #fff; }

@media (max-width: 991px) {
  .condition-right {
    margin-top: 40px; } }
.condition-right h2 {
  font-size: 36px;
  line-height: 1.25;
  margin-bottom: 35px; }
  @media (max-width: 576px) {
    .condition-right h2 {
      font-size: 30px;
      line-height: 1.15;
      margin-bottom: 20px; } }
.condition-right ul {
  list-style: none;
  padding: 0;
  margin-top: 35px; }
  @media (max-width: 767px) {
    .condition-right ul {
      margin-bottom: 0; } }
.condition-right li {
  padding-left: 21px; }
.condition-right li:before {
  content: "\e87a";
  font-family: 'Linearicons-Free';
  display: inline-block;
  margin-left: -22px;
  width: 28px;
  font-weight: 600;
  color: #46dbb7; }

.donation-area {
  background: url(../img/donation-bg.jpg) center;
  background-size: cover; }
  .donation-area .text-wrap {
    margin-bottom: 250px; }
    @media (max-width: 991px) {
      .donation-area .text-wrap {
        margin-bottom: 60px; } }
  .donation-area h1 {
    line-height: 1.25;
    color: #fff; }
    @media (max-width: 576px) {
      .donation-area h1 {
        font-size: 30px;
        line-height: 1.15; } }
  .donation-area p {
    color: #fff;
    margin-bottom: 0; }

.donation-form-area {
  margin-top: -170px; }
  @media (max-width: 991px) {
    .donation-form-area {
      margin-top: 60px; } }

.donation-box {
  padding: 50px;
  background: #fff;
  box-shadow: 0px 20px 50px 0 rgba(153, 153, 153, 0.2); }
  @media (max-width: 480px) {
    .donation-box {
      padding: 50px 20px; } }
  .donation-box .donation-input {
    margin-bottom: 15px; }
    .donation-box .donation-input .form-group .form-control {
      background: #f9f9ff;
      border: solid 1px #dddddd; }

.donation-type {
  margin-bottom: 20px;
  padding: 20px;
  border: solid 1px #dddddd; }
  .donation-type .form-check-label {
    font-family: "Playfair Display", sans-serif;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.51; }
  .donation-type p {
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 2px;
    font-size: 12px;
    line-height: 1.5; }

.brand-area .owl-brand .item {
  text-align: center; }
  .brand-area .owl-brand .item img {
    width: auto;
    text-align: center;
    display: block;
    margin: auto;
    line-height: 70px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .3;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer; }
  .brand-area .owl-brand .item:hover img {
    opacity: 1;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%); }

.event-area h1 {
  margin-bottom: 20px; }
.event-area p {
  margin-bottom: 0; }
.event-area .owl-nav {
  right: 95%; }

.single-event {
  background: #f9f9ff;
  padding: 30px 40px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-top: 45px;
  margin-bottom: 30px; }
  @media (max-width: 767px) {
    .single-event {
      padding: 20px; } }
  .single-event p {
    font-size: 12px;
    text-transform: uppercase; }
  .single-event h4 {
    font-size: 21px;
    margin-top: 5px; }
  .single-event a {
    color: #000000; }
  .single-event:hover {
    background: #fff;
    box-shadow: 0px 20px 50px 0 rgba(153, 153, 153, 0.2); }
    .single-event:hover a {
      color: #a978e0; }

.event-details-area .condition-right li:nth-child(1)::before {
  content: "\e836"; }
.event-details-area .condition-right li:nth-child(2)::before {
  content: "\e801"; }
.event-details-area .condition-right li:nth-child(3)::before {
  content: "\e835"; }

.whole-wrap {
  background-color: #fff; }

.generic-banner {
  background-color: #61c524;
  text-align: center; }
  .generic-banner .height {
    height: 600px; }
    @media (max-width: 767.98px) {
      .generic-banner .height {
        height: 400px; } }
  .generic-banner .generic-banner-content h2 {
    line-height: 1.2em;
    margin-bottom: 20px; }
    @media (max-width: 991.98px) {
      .generic-banner .generic-banner-content h2 br {
        display: none; } }
  .generic-banner .generic-banner-content p {
    text-align: center;
    font-size: 16px; }
    @media (max-width: 991.98px) {
      .generic-banner .generic-banner-content p br {
        display: none; } }

.generic-content h1 {
  font-weight: 600; }

.about-generic-area {
  background: #f9f9ff; }
  .about-generic-area p {
    margin-bottom: 20px; }

.white-bg {
  background: #fff; }

.section-top-border {
  padding: 70px 0;
  border-top: 1px dotted #eee; }

.switch-wrap {
  margin-bottom: 10px; }
  .switch-wrap p {
    margin: 0; }

.link-nav {
  margin-top: 10px; }

.team-area .single-team {
  margin-bottom: 10px; }
.team-area .thumb {
  position: relative; }
.team-area .thumb div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(97, 197, 36, 0.8);
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s; }
  .team-area .thumb div i {
    color: #fff;
    font-size: 20px;
    padding: 10px;
    z-index: 9999; }
.team-area .thumb img {
  display: block;
  width: 100%; }
.team-area .thumb div span {
  display: block;
  position: absolute;
  bottom: 30px;
  left: 20px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 3px; }
.team-area .thumb div p {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-weight: 100; }
  @media (max-width: 768px) {
    .team-area .thumb div p {
      bottom: -15px; } }
.team-area .thumb:hover div {
  cursor: pointer;
  opacity: 1; }

.contact-page-area {
  background: #f9f9ff; }
  .contact-page-area .map-wrap {
    margin-bottom: 120px; }
    @media (max-width: 960px) {
      .contact-page-area .map-wrap {
        margin-bottom: 50px; } }
  .contact-page-area .contact-btns {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 40px;
    color: #fff;
    margin-bottom: 30px; }
    .contact-page-area .contact-btns:hover {
      color: #fff; }
  .contact-page-area .form-area input {
    padding: 10px 15px; }
  .contact-page-area .form-area input,
  .contact-page-area .form-area textarea {
    border-radius: 0;
    font-size: 12px; }
    .contact-page-area .form-area input:focus,
    .contact-page-area .form-area textarea:focus {
      box-shadow: none; }
  .contact-page-area .form-area textarea {
    height: 160px;
    margin-top: 0px;
    resize: none; }
  .contact-page-area .form-area .primary-btn {
    background: #46dbb7;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .contact-page-area .form-area .primary-btn:hover {
      background: transparent;
      border: 1px solid #46dbb7;
      color: #46dbb7 !important; }
  @media (max-width: 960px) {
    .contact-page-area .address-wrap {
      margin-bottom: 50px; } }
  .contact-page-area .single-contact-address {
    margin-bottom: 20px; }
    .contact-page-area .single-contact-address h5 {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 5px; }
    .contact-page-area .single-contact-address .lnr {
      font-size: 30px;
      font-weight: 500;
      color: #46dbb7;
      margin-right: 30px; }

/*
################
               Start Blog Home  Page style
################
*/
.blog-banner-area {
  background: url(../img/elements/blog/blog-banner.jpg) center;
  background-size: cover; }
  .blog-banner-area .overlay-bg {
    background: rgba(0, 0, 0, 0.55); }

.blog-banner-wrap {
  text-align: center; }

.blog-post-list .single-post {
  background: transparent;
  padding: 0px 30px; }

.single-post {
  margin-bottom: 30px; }
  .single-post .tags {
    margin-top: 40px; }
    .single-post .tags li {
      display: inline-block; }
      .single-post .tags li a {
        color: #000000; }
      .single-post .tags li:hover a {
        color: #61c524; }
  .single-post h1 {
    margin-top: 20px;
    margin-bottom: 20px; }
  .single-post .title h4 {
    margin-bottom: 10px; }
  .single-post .comment-wrap ul li,
  .single-post .social-wrap ul li {
    display: inline-block;
    margin-right: 15px; }
  @media (max-width: 414px) {
    .single-post .comment-wrap,
    .single-post .social-wrap {
      margin-top: 10px; } }
  .single-post .comment-wrap ul li a {
    color: #777777; }
  .single-post .social-wrap ul {
    text-align: right; }
    .single-post .social-wrap ul li a i {
      color: #777777; }
      .single-post .social-wrap ul li a i:hover {
        color: #000000; }
    @media (max-width: 768px) {
      .single-post .social-wrap ul {
        text-align: left; } }

.single-widget {
  border: 1px solid #eee;
  padding: 40px 30px;
  margin-bottom: 30px; }
  .single-widget .title {
    font-weight: 600;
    margin-bottom: 30px; }

.search-widget i {
  color: #61c524; }
.search-widget form.example {
  border: 1px solid #eee; }
.search-widget form.example input[type=text] {
  padding: 10px;
  font-size: 14px;
  border: none;
  float: left;
  width: 80%;
  background: #eee; }
.search-widget form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #eee;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer; }
.search-widget form.example::after {
  content: "";
  clear: both;
  display: table; }

.protfolio-widget {
  text-align: center; }
  .protfolio-widget h4 {
    padding: 20px 0; }
  .protfolio-widget ul li {
    padding: 15px;
    display: inline-block; }
    .protfolio-widget ul li a i {
      color: #000000; }
      .protfolio-widget ul li a i:hover {
        color: #61c524; }

.category-widget ul li {
  border-bottom: 1px solid #eee;
  padding: 10px 20px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .category-widget ul li h6 {
    font-weight: 300;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .category-widget ul li span {
    color: #000000;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .category-widget ul li:hover {
    border-color: #61c524; }
    .category-widget ul li:hover h6,
    .category-widget ul li:hover span {
      color: #61c524; }

.tags-widget ul li {
  display: inline-block;
  background: #fff;
  border: 1px solid #eee;
  padding: 8px 10px;
  margin-bottom: 8px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .tags-widget ul li a {
    font-weight: 300;
    color: #000000; }
  .tags-widget ul li:hover {
    background-color: #61c524; }
    .tags-widget ul li:hover a {
      color: #fff; }

.recent-posts-widget .single-recent-post .recent-details {
  margin-left: 20px; }
  .recent-posts-widget .single-recent-post .recent-details h4 {
    line-height: 1.5em !important;
    font-size: 14px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .recent-posts-widget .single-recent-post .recent-details p {
    margin-top: 10px; }
.recent-posts-widget .single-recent-post:hover h4 {
  color: #61c524; }
@media (max-width: 960px) {
  .recent-posts-widget .single-recent-post {
    margin-bottom: 20px; } }

/*
################
               End Blog Home  Page style
################
*/
/*
################
               Start Blog Details  Page style
################
*/
.nav-area {
  border-bottom: 1px solid #eee; }
  .nav-area a {
    color: #000000; }
  .nav-area .nav-left .thumb {
    padding-right: 20px; }
  .nav-area .nav-right {
    text-align: right; }
    .nav-area .nav-right .thumb {
      padding-left: 20px; }
  @media (max-width: 768px) {
    .nav-area .post-details h4 {
      font-size: 14px; } }
  @media (max-width: 466px) {
    .nav-area .nav-right {
      margin-top: 50px; } }

.comment-sec-area {
  border-bottom: 1px solid #eee;
  padding-bottom: 50px; }
  .comment-sec-area a {
    color: #000000; }
  .comment-sec-area .comment-list {
    padding-bottom: 30px; }
    .comment-sec-area .comment-list.left-padding {
      padding-left: 25px; }
  .comment-sec-area .thumb {
    margin-right: 20px; }
  .comment-sec-area .date {
    font-size: 13px;
    color: #cccccc; }
  .comment-sec-area .comment {
    color: #777777; }
  .comment-sec-area .btn-reply {
    background-color: #000000;
    color: #fff;
    border: 1px solid #000000;
    padding: 8px 30px;
    display: block;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .comment-sec-area .btn-reply:hover {
      background-color: transparent;
      color: #000000; }

.commentform-area {
  padding-bottom: 100px; }
  .commentform-area h5 {
    font-weight: 600 !important; }
  .commentform-area .form-control {
    border-radius: 0;
    font-size: 14px;
    font-weight: 400; }
  .commentform-area .primary-btn {
    padding-left: 50px;
    padding-right: 50px;
    background-color: #61c524 !important;
    border: 1px solid transparent;
    color: #fff; }
    .commentform-area .primary-btn:hover {
      border-color: #61c524 !important; }
  .commentform-area textarea {
    height: 90%; }
  .commentform-area .form-control {
    border: none;
    background: #f9f9ff; }

/*
################
               End Blog Details  Page style
################
*/
/* Latest Blog Area css
============================================================================================ */
.latest_blog_area.color-bg {
  background: #f1f9ff; }

@media (max-width: 991px) {
  .single-recent-blog {
    margin-bottom: 40px; } }
.single-recent-blog .thumb {
  overflow: hidden; }
  .single-recent-blog .thumb img {
    width: 100%; }
.single-recent-blog h4 {
  font-size: 21px;
  font-weight: 600;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
.single-recent-blog .name {
  font-size: 13px;
  font-weight: 100; }
.single-recent-blog p {
  text-align: left;
  margin-top: 15px; }
.single-recent-blog .bottom {
  padding: 30px 0; }
  .single-recent-blog .bottom .main_btn {
    text-transform: uppercase;
    line-height: 30px;
    font-size: 12px;
    padding: 0 16px; }
  .single-recent-blog .bottom span {
    margin-left: 30px;
    font-size: 12px;
    text-transform: uppercase; }
    @media (max-width: 380px) {
      .single-recent-blog .bottom span {
        margin-left: 20px; } }
@media (max-width: 991px) {
  .single-recent-blog .meta {
    margin-top: 20px; } }
@media (max-width: 768px) {
  .single-recent-blog {
    margin-bottom: 30px; } }
@media (max-width: 767px) {
  .single-recent-blog .meta {
    margin-top: 0px; } }
.single-recent-blog .f-img {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
.single-recent-blog:hover {
  cursor: pointer; }
  .single-recent-blog:hover h4 {
    color: #46dbb7; }
  .single-recent-blog:hover .f-img {
    cursor: pointer;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05); }

/* End Latest Blog Area css
============================================================================================ */
/*================= latest_blog_area css =============*/
.single-recent-blog-post {
  margin-bottom: 30px; }
  .single-recent-blog-post .thumb {
    overflow: hidden; }
    .single-recent-blog-post .thumb img {
      transition: all 0.7s linear; }
  .single-recent-blog-post .details {
    padding-top: 30px; }
    .single-recent-blog-post .details .sec_h4 {
      line-height: 24px;
      padding: 10px 0px 13px;
      transition: all 0.3s linear; }
      .single-recent-blog-post .details .sec_h4:hover {
        color: #999999; }
  .single-recent-blog-post .date {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400; }
  .single-recent-blog-post:hover img {
    -webkit-transform: scale(1.23) rotate(10deg);
    -moz-transform: scale(1.23) rotate(10deg);
    -ms-transform: scale(1.23) rotate(10deg);
    -o-transform: scale(1.23) rotate(10deg);
    transform: scale(1.23) rotate(10deg); }

.tags .tag_btn {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  border: 1px solid #eeeeee;
  display: inline-block;
  padding: 1px 18px;
  text-align: center;
  color: #000000; }
  .tags .tag_btn:before {
    background: #46dbb7; }
  .tags .tag_btn + .tag_btn {
    margin-left: 2px; }

/*========= blog_categorie_area css ===========*/
.blog_categorie_area {
  padding-top: 80px;
  padding-bottom: 80px; }

.categories_post {
  position: relative;
  text-align: center;
  cursor: pointer; }
  .categories_post img {
    max-width: 100%; }
  .categories_post .categories_details {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: rgba(34, 34, 34, 0.8);
    color: #fff;
    transition: all 0.3s linear;
    display: flex;
    align-items: center;
    justify-content: center; }
    .categories_post .categories_details h5 {
      margin-bottom: 0px;
      font-size: 18px;
      line-height: 26px;
      text-transform: uppercase;
      color: #fff;
      position: relative; }
    .categories_post .categories_details p {
      font-weight: 300;
      font-size: 14px;
      line-height: 26px;
      margin-bottom: 0px; }
    .categories_post .categories_details .border_line {
      margin: 10px 0px;
      background: #fff;
      width: 100%;
      height: 1px; }
  .categories_post:hover .categories_details {
    background: #46dbb7;
    opacity: .8; }

/*============ blog_left_sidebar css ==============*/
.blog_item {
  margin-bottom: 40px; }

.blog_info {
  padding-top: 30px; }
  .blog_info .post_tag {
    padding-bottom: 20px; }
    .blog_info .post_tag a {
      font: 300 14px/21px "Roboto", sans-serif;
      color: #000000; }
      .blog_info .post_tag a:hover {
        color: #999999; }
      .blog_info .post_tag a.active {
        color: #46dbb7; }
  .blog_info .blog_meta li a {
    font: 300 14px/20px "Roboto", sans-serif;
    color: #777777;
    vertical-align: middle;
    padding-bottom: 12px;
    display: inline-block; }
    .blog_info .blog_meta li a i {
      color: #000000;
      font-size: 16px;
      font-weight: 600;
      padding-left: 15px;
      line-height: 20px;
      vertical-align: middle; }
    .blog_info .blog_meta li a:hover {
      color: #46dbb7; }

.blog_post img {
  max-width: 100%; }

.blog_details {
  padding-top: 20px; }
  .blog_details h2 {
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    font-weight: 600;
    transition: all 0.3s linear; }
    .blog_details h2:hover {
      color: #46dbb7; }
  .blog_details p {
    margin-bottom: 26px; }

.view_btn {
  font-size: 14px;
  line-height: 36px;
  display: inline-block;
  color: #000000;
  font-weight: 500;
  padding: 0px 30px;
  background: #fff; }

.blog_right_sidebar {
  border: 1px solid #eeeeee;
  background: #ffffff;
  padding: 30px; }
  .blog_right_sidebar .widget_title {
    font-size: 18px;
    line-height: 25px;
    background: #46dbb7;
    text-align: center;
    color: #fff;
    padding: 8px 0px;
    margin-bottom: 30px; }
  .blog_right_sidebar .search_widget .input-group .form-control {
    font-size: 14px;
    line-height: 29px;
    border: 0px;
    width: 100%;
    font-weight: 500;
    color: #fff;
    padding-left: 20px;
    border-radius: 45px;
    z-index: 0;
    background: #46dbb7; }
    .blog_right_sidebar .search_widget .input-group .form-control:focus {
      box-shadow: none; }
  .blog_right_sidebar .search_widget .input-group ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 14px;
    font-weight: 500;
    color: #ffffff !important; }
  .blog_right_sidebar .search_widget .input-group ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 14px;
    font-weight: 500;
    color: #ffffff !important; }
  .blog_right_sidebar .search_widget .input-group :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 14px;
    font-weight: 500;
    color: #ffffff !important; }
  .blog_right_sidebar .search_widget .input-group :-moz-placeholder {
    /* Firefox 18- */
    font-size: 14px;
    font-weight: 500;
    color: #ffffff !important; }
  .blog_right_sidebar .search_widget .input-group .btn-default {
    position: absolute;
    right: 20px;
    background: transparent;
    border: 0px;
    box-shadow: none;
    font-size: 14px;
    color: #fff;
    padding: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1; }
  .blog_right_sidebar .author_widget {
    text-align: center; }
    .blog_right_sidebar .author_widget h4 {
      font-size: 18px;
      line-height: 20px;
      color: #000000;
      margin-bottom: 5px;
      margin-top: 30px; }
    .blog_right_sidebar .author_widget p {
      margin-bottom: 0px; }
    .blog_right_sidebar .author_widget .social_icon {
      padding: 7px 0px 15px; }
      .blog_right_sidebar .author_widget .social_icon a {
        font-size: 14px;
        color: #000000;
        transition: all 0.2s linear; }
        .blog_right_sidebar .author_widget .social_icon a + a {
          margin-left: 20px; }
        .blog_right_sidebar .author_widget .social_icon a:hover {
          color: #46dbb7; }
  .blog_right_sidebar .popular_post_widget .post_item .media-body {
    justify-content: center;
    align-self: center;
    padding-left: 20px; }
    .blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
      font-size: 14px;
      line-height: 20px;
      color: #000000;
      margin-bottom: 4px;
      transition: all 0.3s linear; }
      .blog_right_sidebar .popular_post_widget .post_item .media-body h3:hover {
        color: #46dbb7; }
    .blog_right_sidebar .popular_post_widget .post_item .media-body p {
      font-size: 12px;
      line-height: 21px;
      margin-bottom: 0px; }
  .blog_right_sidebar .popular_post_widget .post_item + .post_item {
    margin-top: 20px; }
  .blog_right_sidebar .post_category_widget .cat-list li {
    border-bottom: 2px dotted #eee;
    transition: all 0.3s ease 0s;
    padding-bottom: 12px; }
    .blog_right_sidebar .post_category_widget .cat-list li a {
      font-size: 14px;
      line-height: 20px;
      color: #777; }
      .blog_right_sidebar .post_category_widget .cat-list li a p {
        margin-bottom: 0px; }
    .blog_right_sidebar .post_category_widget .cat-list li + li {
      padding-top: 15px; }
    .blog_right_sidebar .post_category_widget .cat-list li:hover {
      border-color: #46dbb7; }
      .blog_right_sidebar .post_category_widget .cat-list li:hover a {
        color: #46dbb7; }
  .blog_right_sidebar .newsletter_widget {
    text-align: center; }
    .blog_right_sidebar .newsletter_widget .form-group {
      margin-bottom: 8px; }
    .blog_right_sidebar .newsletter_widget .input-group-prepend {
      margin-right: -1px; }
    .blog_right_sidebar .newsletter_widget .input-group-text {
      background: #fff;
      border-radius: 0px;
      vertical-align: top;
      font-size: 12px;
      line-height: 36px;
      padding: 0px 0px 0px 15px;
      border: 1px solid #eeeeee;
      border-right: 0px; }
    .blog_right_sidebar .newsletter_widget .form-control {
      font-size: 12px;
      line-height: 24px;
      color: #cccccc;
      border: 1px solid #eeeeee;
      border-left: 0px;
      border-radius: 0px; }
      .blog_right_sidebar .newsletter_widget .form-control:focus {
        outline: none;
        box-shadow: none; }
    .blog_right_sidebar .newsletter_widget .bbtns {
      background: #46dbb7;
      color: #fff;
      font-size: 12px;
      line-height: 38px;
      display: inline-block;
      font-weight: 500;
      padding: 0px 24px 0px 24px;
      border-radius: 0; }
    .blog_right_sidebar .newsletter_widget .text-bottom {
      font-size: 12px; }
  .blog_right_sidebar .tag_cloud_widget ul li {
    display: inline-block; }
    .blog_right_sidebar .tag_cloud_widget ul li a {
      display: inline-block;
      border: 1px solid #eee;
      background: #fff;
      padding: 0px 13px;
      margin-bottom: 8px;
      transition: all 0.3s ease 0s;
      color: #000000;
      font-size: 12px; }
      .blog_right_sidebar .tag_cloud_widget ul li a:hover {
        background: #46dbb7;
        color: #fff; }
  .blog_right_sidebar .br {
    width: 100%;
    height: 1px;
    background: #eeeeee;
    margin: 30px 0px; }

.white_bg_btn {
  background: #fff;
  color: #000000;
  border: 1px solid #dddddd;
  padding: 10px 30px;
  font-size: 13px; }
  .white_bg_btn:hover {
    background: #46dbb7;
    color: #ffffff; }

.blog-pagination {
  padding-top: 25px; }
  .blog-pagination .page-link {
    border-radius: 0; }
  .blog-pagination .page-item {
    border: none; }

.page-link {
  background: transparent;
  font-weight: 400; }

.blog-pagination .page-item.active .page-link {
  background-color: #46dbb7;
  border-color: transparent;
  color: #fff; }

.blog-pagination .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #8a8a8a;
  border: none; }

.blog-pagination .page-link .lnr {
  font-weight: 600; }

.blog-pagination .page-item:last-child .page-link,
.blog-pagination .page-item:first-child .page-link {
  border-radius: 0; }

.blog-pagination .page-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #46dbb7;
  border-color: #eee; }

/*============ Start Blog Single Styles  =============*/
.single-post-area .social-links {
  padding-top: 10px; }
  .single-post-area .social-links li {
    display: inline-block;
    margin-bottom: 10px; }
    .single-post-area .social-links li a {
      color: #cccccc;
      padding: 7px;
      font-size: 14px;
      transition: all 0.2s linear; }
      .single-post-area .social-links li a:hover {
        color: #000000; }
.single-post-area .blog_details {
  padding-top: 26px; }
  .single-post-area .blog_details p {
    margin-bottom: 10px; }
.single-post-area .quotes {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 24px 35px 24px 30px;
  background-color: white;
  box-shadow: -20.84px 21.58px 30px 0px rgba(176, 176, 176, 0.1);
  font-size: 14px;
  line-height: 24px;
  color: #777;
  font-style: italic; }
.single-post-area .arrow {
  position: absolute; }
  .single-post-area .arrow .lnr {
    font-size: 20px;
    font-weight: 600; }
.single-post-area .thumb .overlay-bg {
  background: rgba(0, 0, 0, 0.8); }
.single-post-area .navigation-area {
  border-top: 1px solid #eee;
  padding-top: 30px;
  margin-top: 60px; }
  .single-post-area .navigation-area p {
    margin-bottom: 0px; }
  .single-post-area .navigation-area h4 {
    font-size: 18px;
    line-height: 25px;
    color: #000000; }
  .single-post-area .navigation-area .nav-left {
    text-align: left; }
    .single-post-area .navigation-area .nav-left .thumb {
      margin-right: 20px;
      background: #000; }
      .single-post-area .navigation-area .nav-left .thumb img {
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
    .single-post-area .navigation-area .nav-left .lnr {
      margin-left: 20px;
      opacity: 0;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .single-post-area .navigation-area .nav-left:hover .lnr {
      opacity: 1; }
    .single-post-area .navigation-area .nav-left:hover .thumb img {
      opacity: .5; }
    @media (max-width: 767px) {
      .single-post-area .navigation-area .nav-left {
        margin-bottom: 30px; } }
  .single-post-area .navigation-area .nav-right {
    text-align: right; }
    .single-post-area .navigation-area .nav-right .thumb {
      margin-left: 20px;
      background: #000; }
      .single-post-area .navigation-area .nav-right .thumb img {
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
    .single-post-area .navigation-area .nav-right .lnr {
      margin-right: 20px;
      opacity: 0;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .single-post-area .navigation-area .nav-right:hover .lnr {
      opacity: 1; }
    .single-post-area .navigation-area .nav-right:hover .thumb img {
      opacity: .5; }
@media (max-width: 991px) {
  .single-post-area .sidebar-widgets {
    padding-bottom: 0px; } }

.comments-area {
  background: #ffffff;
  border: 1px solid #eee;
  padding: 50px 30px;
  margin-top: 50px; }
  @media (max-width: 414px) {
    .comments-area {
      padding: 50px 8px; } }
  .comments-area h4 {
    text-align: center;
    margin-bottom: 50px;
    color: #000000;
    font-size: 18px; }
  .comments-area h5 {
    font-size: 16px;
    margin-bottom: 0px; }
  .comments-area a {
    color: #000000; }
  .comments-area .comment-list {
    padding-bottom: 48px; }
    .comments-area .comment-list:last-child {
      padding-bottom: 0px; }
    .comments-area .comment-list.left-padding {
      padding-left: 25px; }
    @media (max-width: 413px) {
      .comments-area .comment-list .single-comment h5 {
        font-size: 12px; }
      .comments-area .comment-list .single-comment .date {
        font-size: 11px; }
      .comments-area .comment-list .single-comment .comment {
        font-size: 10px; } }
  .comments-area .thumb {
    margin-right: 20px; }
  .comments-area .date {
    font-size: 13px;
    color: #cccccc;
    margin-bottom: 13px; }
  .comments-area .comment {
    color: #777777;
    margin-bottom: 0px; }
  .comments-area .btn-reply {
    background-color: #f1f9ff;
    color: #000000;
    border: 1px solid #eee;
    padding: 2px 18px;
    font-size: 12px;
    display: block;
    font-weight: 600;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-transform: capitalize; }
    .comments-area .btn-reply:hover {
      background-color: #46dbb7;
      color: #fff; }

.comment-form {
  background: #ffffff;
  text-align: center;
  border: 1px solid #eee;
  padding: 47px 30px 43px;
  margin-top: 50px;
  margin-bottom: 40px; }
  .comment-form h4 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 22px;
    color: #000000; }
  .comment-form .name {
    padding-left: 0px; }
    @media (max-width: 767px) {
      .comment-form .name {
        padding-right: 0px;
        margin-bottom: 1rem; } }
  .comment-form .email {
    padding-right: 0px; }
    @media (max-width: 991px) {
      .comment-form .email {
        padding-left: 0px; } }
  .comment-form .form-control {
    padding: 8px 20px;
    background: #f9f9ff;
    border: none;
    border-radius: 0px;
    width: 100%;
    font-size: 14px;
    color: #777777;
    border: 1px solid transparent; }
    .comment-form .form-control:focus {
      box-shadow: none;
      border: 1px solid #eee; }
  .comment-form textarea.form-control {
    height: 140px;
    resize: none; }
  .comment-form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 13px;
    color: #777; }
  .comment-form ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 13px;
    color: #777; }
  .comment-form :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 13px;
    color: #777; }
  .comment-form :-moz-placeholder {
    /* Firefox 18- */
    font-size: 13px;
    color: #777; }
  .comment-form .primary-btn {
    background: #46dbb7; }
    .comment-form .primary-btn:hover {
      background: transparent;
      color: #46dbb7;
      border: 1px solid #46dbb7; }

/*============ End Blog Single Styles  =============*/
.footer-area {
  background-color: #04091e; }

h6 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600; }
  @media (max-width: 991px) {
    h6 {
      margin-bottom: 15px; } }

.copy-right-text i,
.copy-right-text a {
  color: #61c524; }

.footer-social a {
  padding-right: 25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .footer-social a:hover i {
    color: #46dbb7; }
.footer-social i {
  color: #cccccc;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
@media (max-width: 991.98px) {
  .footer-social {
    text-align: left; } }

.single-footer-widget input {
  border: none;
  width: 80% !important;
  font-weight: 300;
  background: #14192c;
  color: #ffffff !important;
  padding-left: 20px;
  border-radius: 0;
  font-size: 14px;
  padding: 10px 18px; }
  .single-footer-widget input:focus {
    background-color: #14192c;
    box-shadow: none; }
.single-footer-widget .bb-btn {
  background: #46dbb7;
  color: #fff;
  font-weight: 300;
  border-radius: 0;
  z-index: 9999;
  cursor: pointer; }
.single-footer-widget .info {
  position: absolute;
  margin-top: 10%;
  color: #fff;
  font-size: 12px; }
  .single-footer-widget .info.valid {
    color: green; }
  .single-footer-widget .info.error {
    color: red; }
.single-footer-widget .click-btn {
  background: #46dbb7;
  color: #fff;
  border-radius: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 8px 12px;
  border: 0; }
.single-footer-widget ::-moz-selection {
  /* Code for Firefox */
  background-color: #14192c !important;
  color: #999999; }
.single-footer-widget ::selection {
  background-color: #14192c !important;
  color: #999999; }
.single-footer-widget ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #999999;
  font-weight: 300; }
.single-footer-widget :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999999;
  opacity: 1;
  font-weight: 300; }
.single-footer-widget ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999999;
  opacity: 1;
  font-weight: 300; }
.single-footer-widget :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999999;
  font-weight: 300; }
.single-footer-widget ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999999;
  font-weight: 300; }
@media (max-width: 991.98px) {
  .single-footer-widget {
    margin-bottom: 30px; }
    .single-footer-widget:last-child {
      margin-bottom: 0; } }

@media (max-width: 800px) {
  .social-widget {
    margin-top: 30px; } }
.footer-text {
  padding-top: 20px;
  margin-bottom: 0; }
  .footer-text a,
  .footer-text i {
    color: #46dbb7; }
    .footer-text a:hover,
    .footer-text i:hover {
      color: #61c524; }

/*# sourceMappingURL=main.css.map */
